.landing {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .landing .heading {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .landing .line-1 {
    font-family: "Poiret One", cursive;
    color: black;
    font-size: 20px;
    margin-bottom: 0; }
  .landing .line-2 {
    font-family: "Poiret One", cursive;
    color: black;
    font-size: 100px;
    margin-top: 0; }
  .landing .line-3 {
    font-family: "Poiret One", cursive;
    color: #25b862;
    font-size: 30px;
    font-weight: bold; }
  .landing .image-div {
    margin: 20px 0;
    height: 260px;
    border-radius: 300px;
    overflow: hidden;
    width: 260px;
    border: 3px solid #25b862; }
    .landing .image-div .image {
      height: 270px; }
