@import "variables";
@import "mixin";

.landing-container {
  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include screen-sm {
      margin-top: 15%;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .line-1 {
      font-family: $primary-font, cursive;
      color: black;
      font-size: 20px;
      margin-bottom: 0;
    }

    .line-2 {
      font-family: $primary-font, cursive;
      color: black;
      font-size: 100px;
      margin-top: 0;

      @include screen-sm {
        font-size: 60px;
      }
    }

    .line-3 {
      font-family: $primary-font, cursive;
      color: $primary-color;
      font-size: 30px;
      font-weight: bold;

      @include screen-sm {
        font-size: 20px;
      }
    }

    .image-div {

      margin: 20px 0;
      height: 260px;
      border-radius: 300px;
      overflow: hidden;
      width: 260px;
      border: 10px solid $primary-color;
      @include screen-sm {
        height: 120px;
        width: 120px;
      }

      .image {
        height: 260px;

        @include screen-sm {
          height: 120px;
        }
      }
    }

  }

  .header {
    justify-content: flex-end;
  }
}
