.landing .heading {
  margin-top: 3%;
  padding-top: 10%;
  margin-left: 5%;
  display: flex;
  flex-direction: column; }

.landing .line-1 {
  margin-left: 20px;
  font-family: "Lobster", cursive;
  color: white;
  font-size: 30px;
  margin-bottom: 0; }

.landing .line-2 {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 100px;
  margin-top: 0; }

.landing .line-3 {
  margin-left: 20px;
  font-family: "Poiret One", cursive;
  color: #ff4080;
  font-size: 30px;
  margin-bottom: 0; }
