.my-input .label {
  font-weight: bold;
  color: #25b862;
  font-family: "Poiret One", cursive;
  margin-bottom: 3px; }

.my-input .input {
  font-size: 25px;
  outline: none;
  font-family: "Poiret One", cursive;
  height: 27px;
  width: 290px;
  padding-bottom: 5px;
  padding-left: 10px; }
