@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app {
  display: flex;
}

.loader {
  border: 3px solid #1f1f1f;
  border-radius: 50%;
  border-top: 3px solid $primary-color;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite; /* Safari */
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.router {
  background-image: url("./../Images/noise.png");
}

.line-container {
  margin: 20px 30px 20px 30px;
  display: flex;
  align-items: center;

  .line-100 {
    width: 100vw;
    height: 1px;
    background-color: $primary-color;
  }

  .line-50 {
    width: 50vw;
    height: 1px;
    background-color: $primary-color;
  }
}

.padding-top-20 {
  padding-top: 20vh;
}

.padding-top-30 {
  padding-top: 30vh;
}

.react-icon {
  fill: $primary-color;
}

.text-cursor {
  color: white;
}
