@import "variables";

.back-button {
  fill: $primary-color;
  cursor: pointer;
  border-radius: 30px;


  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    background-color: $primary-color;
    fill: white;
  }
}

.download-resume-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  svg {
    fill: #ff7f02;
  }
  &:hover {
    svg {
      fill: white;
    }
  }
}


