@import "variables";

.my-input {
  .label {
    font-weight: bold;
    color: $primary-color;
    font-family: $primary-font, cursive;
    margin-bottom: 3px;
    margin-left: 3px;
  }

  .input {
    border: 1px solid $primary-color;
    background: inherit;
    font-size: 25px;
    color: $primary-color;
    outline: none;
    font-family: $primary-font, cursive;
    height: 27px;
    width: 290px;
    padding: 3px;
  }

  textarea {
    resize: vertical;
  }
}
